.users {
    table-layout: fixed;
    width: 100%;

    white-space: nowrap;
  }
  /* Column widths are based on these cells */
  .row-date{
    width: 5%;
  }
  .row-name {
    width: 6%;
   
  }
  .row-job{
    width: 18%;

  }
  .row-yawts {
    width: 8%;
  }
  .row-tailbar {
    width: 14%;
    
  }
  .row-tailbar_darga {
    width: 15%;
    
  }
  .row-enddate {
    width:5%;
    
  }
  .row-edit {
    width: 15%;
    
  }
  .users td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .users th {
    background: darkblue;
    color: white;
  }
  .users td,
  .users th {
    text-align: left;
    padding: 5px 10px;
  }
  .users tr:nth-child(even) {
    background: lightblue;
  }
  .table-head-breack{

    word-break:break-all;
  }
  .footer2{
    background: white;
    height: 70px;
    display:flex;
    align-items: center;
  }
  .pull-right {
    float: right;
  }
  #hehe{
    font-size: 15;
  }
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}
.hehe{
  width:100%; 
  max-height:67px;
  overflow:auto;
}